article{
  float: left;
  
  -webkit-column-break-inside: avoid;
  break-inside: avoid-column;
  
  width: 400px;
  max-width: 90%;

  margin: 10px;
  padding: 10px;
  
  background: #f3f3f3;

  border-radius: 3px;
  box-shadow: -1px 1px 3px #CECECE;
  
  color: #444;
  
  @media(max-width: 800px){
    float: none;
    
    width: auto;
    
    margin-left: auto;
    margin-right: auto;
  }
  
  h2{
    font-size: 1.1em;
  }
  
  footer{
    font-size: 0.9em;
    text-align: right;
  }
  
  &.pictureReel{
    ol{
      overflow: auto;
      padding: 0;
      
      li{
        display: block;
        float: left;

        width: 33%;
        text-align: center;

        figure{
          margin: 0;
        }

        figcaption{
          font-size: 0.9em;
        }

        img{
          max-width: 95%;
        }
      }
    }
  }
}