body{
  background: #e6e6e6;
  line-height: 1.6;
  font-size: 14px;
}

h1,h2,h3{
  margin: 0.5em 0;
  line-height: 1.2;
}

a{
  color: #607890;
}

#container{
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

@media(min-width: 1200px){
  #container{
    width: 1200px;
  }
}

#lists{
  -moz-column-width: 400px;
  -moz-column-gap: 0;
  -webkit-column-width: 400px;
  -webkit-column-gap: 0;
  column-width: 400px;
  column-gap: 0;
}

#siteHeader{
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
    
  overflow: auto;
  
  background: #f3f3f3;

  border-radius: 3px;
  box-shadow: -1px 1px 3px #CECECE;
  
  color: #444;
}

#siteHeader h1, #siteHeader p{
  float: left;

  /* Leave 100px for the avatar, and a 10px margin */
  width: calc(100% - 100px - 10px);
}

@media(max-width: 800px){
  #siteHeader{
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;
  }
}

#poweredBy{
  margin-bottom: 1em;

  clear: both;

  font-size: 0.9em;
  text-align: center;
  color: #555;
  
}

.list-enter {
  opacity: 0.01;
  transform: translateY(5px);
  transition: opacity .5s ease-in, transform .5s ease-in;
}

.list-enter.list-enter-active {
  opacity: 1;
  transform: translateY(0);
}